@model IEnumerable<EjercicioCoches.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Nuevo vehículo", "Alta")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conductor)
        </th>
       
        
        
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo)
            </td>
                @foreach (var conductor in item.Conductor)
                {
                    <li>@Html.ActionLink(conductor.nombre, conductor.apellidos,"Detalles", new { id = item.id})</li>
                }
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
